@media screen and (min-width: 601px) {
   h1{
      font-size: 75px;
   }
}
@media screen and (max-width: 600px) {
   h1{
      font-size: 11vw;
   }
   img{
      height: 200px;
      width: 200px;
   }
}

body {
   background-image: url("../images/wallpaper.jpg");
   background-size: contain;
   font-family: 'PT Sans', sans-serif;
}
.container{
   text-align: center;
   margin: 30px 10%;
   padding: 20px;
   background-color: white;
   opacity: 0.95;
}
.title h1{
   color: red;
   font-family: 'Londrina Shadow', cursive;
}  
button {
   color: white;
   background: red;
   font-size: 20px;
   padding: 5px 20px;
}
#gameplay, #results {
   display: none;
}
#resultsSummary {
   font-size: 20px;
}
